<div class='container'>
  <h1><span>Welcome to</span> GODRINK API</h1>
  <p>An open source website with over 600 different cocktails recipes from
    around the world.</p>
  <a href='https://github.com/MatheusAndrade23/GoDrink'>Click to learn more</a>
  <div>
    <p>Number of requests made:</p>
    <span>{{this.number}}</span>
  </div>
</div>
