<div class="container">
  <h1><span>GoDrink</span> API</h1>
  <p>Esta é a API do GoDrink, um site que fornece receitas de bebidas excelentes!</p>
  <a href="https://github.com/MatheusAndrade23/GoDrink">Clique aqui para saber mais</a>
  <div>
    <p>Número de requisições feitas:</p>
    <span>{{this.number}}</span>
  </div>
</div>
