<div class="container">
  <h1>GoDrink API</h1>
  <p>Esta é a API do GoDrink, um site que fornece receitas de bebidas excelentes!</p>
  <a hrf="#">Clique aqui para saber mais</a>
  <div>
    <span>10</span>
    <p>requisições já foram feitas!</p>
  </div>
</div>
